{% extends 'base.html' %}
{% load staticfiles %}
{% load home_tags %}
{% block title %}{{ user.last_name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <div class="profile container">
        <div class="row">
            <div class="col-md-12"><h2>{{ user.first_name }} {{ user.last_name }}</h2></div>
            <div class="col-md-3">
                <img class="img-fluid img-rounded" src="{{ MEDIA_URL }}{{ profile.profile_photo.image }}">
                {% social_media_links user %}
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
{% endblock %}